In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sys
import pandas as pd 
import matplotlib 
import numpy as np 
import scipy as sp 
import IPython
from IPython import display 
import sklearn 
import keras
import tensorflow as tf

Using TensorFlow backend.

In [5]:
df = pd.read_csv('./data/all_stocks_2006-01-01_to_2018-01-01.csv')

In [11]:
df.head()

         Date   Open   High    Low  Close   Volume Name
0  2006-01-03  77.76  79.35  77.24  79.11  3117200  MMM
1  2006-01-04  79.49  79.49  78.25  78.71  2558000  MMM
2  2006-01-05  78.41  78.65  77.56  77.99  2529500  MMM
3  2006-01-06  78.64  78.90  77.64  78.63  2479500  MMM
4  2006-01-09  78.50  79.83  78.46  79.02  1845600  MMM

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93612 entries, 0 to 93611
Data columns (total 7 columns):
Date      93612 non-null object
Open      93587 non-null float64
High      93602 non-null float64
Low       93592 non-null float64
Close     93612 non-null float64
Volume    93612 non-null int64
Name      93612 non-null object
dtypes: float64(4), int64(1), object(2)
memory usage: 5.0+ MB

In [15]:
df.describe()

               Open          High           Low         Close        Volume
count  93587.000000  93602.000000  93592.000000  93612.000000  9.361200e+04
mean      85.623260     86.387045     84.836664     85.641753  2.015667e+07
std      108.151723    108.956365    107.225361    108.121106  3.442108e+07
min        6.750000      7.170000      0.000000      6.660000  0.000000e+00
25%       33.950000     34.290000     33.600000     33.960000  5.040180e+06
50%       60.040000     60.630000     59.490000     60.050000  9.701142e+06
75%       94.000000     94.740000     93.250000     94.012500  2.075222e+07
max     1204.880000   1213.410000   1191.150000   1195.830000  8.432640e+08

In [64]:
df[df.Open.isnull]

             Date  Open    High     Low   Close    Volume Name
2913   2017-07-31   NaN  201.66     NaN  201.17   1833625  MMM
5933   2017-07-31   NaN   85.70     NaN   85.23   3079797  AXP
11972  2017-07-31   NaN     NaN     NaN  242.46   5777271   BA
14992  2017-07-31   NaN     NaN     NaN  113.95   4486013  CAT
18012  2017-07-31   NaN  110.00     NaN  109.19   7561205  CVX
24051  2017-07-31   NaN     NaN   45.79   45.84  13622891   KO
25815  2012-08-01   NaN     NaN     NaN   49.14         0  DIS
27071  2017-07-31   NaN  110.14     NaN  109.93   6815349  DIS
30091  2017-07-31   NaN   80.39     NaN   80.04  12820175  XOM
33111  2017-07-31   NaN   25.69     NaN   25.61  30616287   GE
36131  2017-07-31   NaN  225.50     NaN  225.33   1999637   GS
39151  2017-07-31   NaN  149.98     NaN  149.60   5253318   HD
42171  2017-07-31   NaN  144.93     NaN  144.67   4355718  IBM
48210  2017-07-31   NaN  133.58     NaN  132.72   5440788  JNJ
51230  2017-07-31   NaN   92.36     NaN   91.80  11520329  JPM
54250  2017-07-31   NaN     NaN  154.85  155.14   4280364  MCD
57269  2017-07-31   NaN     NaN   63.51   63.88  11714888  MRK
63308  2017-07-31   NaN   59.12   58.33   59.05   6225907  NKE
66328  2017-07-31   NaN     NaN     NaN   33.16  21982573  PFE
69348  2017-07-31   NaN   91.07     NaN   90.82   7835661   PG
72368  2017-07-31   NaN     NaN     NaN  128.09   1077258  TRV
75388  2017-07-31   NaN  119.34  118.44  118.57   2172327  UTX
78408  2017-07-31   NaN     NaN     NaN  191.81   3776476  UNH
81428  2017-07-31   NaN   48.57     NaN   48.40  28456827   VZ
84448  2017-07-31   NaN     NaN     NaN   79.99   6263189  WMT

In [65]:
df.isnull().sum()

Date       0
Open      25
High      10
Low       20
Close      0
Volume     0
Name       0
dtype: int64

In [76]:
bad_entries = df[df.Open.isnull()].index

In [80]:
rng = pd.date_range(start='2006-01-01', end='2018-01-01', freq='B')
missing_dates = rng[~rng.isin(df.Date.unique())]
len(missing_dates)

111

In [82]:
df.groupby('Name').count().sort_values('Date', ascending=False)['Date']

Name
JNJ      3020
JPM      3020
WMT      3020
VZ       3020
UTX      3020
UNH      3020
TRV      3020
PG       3020
PFE      3020
NKE      3020
MMM      3020
MCD      3020
KO       3020
XOM      3020
GE       3020
IBM      3020
HD       3020
GS       3020
AXP      3020
BA       3020
CAT      3020
DIS      3020
CVX      3020
CSCO     3019
AMZN     3019
INTC     3019
AAPL     3019
MSFT     3019
MRK      3019
GOOGL    3019
AABA     3019
Name: Date, dtype: int64

In [84]:
gdf = df[df.Name == 'AABA']
cdf = df[df.Name == 'CAT']

In [85]:
cdf[~cdf.Date.isin(gdf.Date)]

             Date   Open  High    Low  Close   Volume Name
13147  2010-04-01  63.29  64.2  63.29  63.99  7830447  CAT

In [86]:
# Total number of companies
df.Name.unique().size

31

In [87]:
df.groupby('Date').Name.unique().apply(len)

Date
2006-01-03    31
2006-01-04    31
2006-01-05    31
2006-01-06    31
2006-01-09    31
2006-01-10    31
2006-01-11    31
2006-01-12    31
2006-01-13    31
2006-01-17    31
2006-01-18    31
2006-01-19    31
2006-01-20    31
2006-01-23    31
2006-01-24    31
2006-01-25    31
2006-01-26    31
2006-01-27    31
2006-01-30    31
2006-01-31    31
2006-02-01    31
2006-02-02    31
2006-02-03    31
2006-02-06    31
2006-02-07    31
2006-02-08    31
2006-02-09    31
2006-02-10    31
2006-02-13    31
2006-02-14    31
              ..
2017-11-16    31
2017-11-17    31
2017-11-20    31
2017-11-21    31
2017-11-22    31
2017-11-24    31
2017-11-27    31
2017-11-28    31
2017-11-29    31
2017-11-30    31
2017-12-01    31
2017-12-04    31
2017-12-05    31
2017-12-06    31
2017-12-07    31
2017-12-08    31
2017-12-11    31
2017-12-12    31
2017-12-13    31
2017-12-14    31
2017-12-15    31
2017-12-18    31
2017-12-19    31
2017-12-20    31
2017-12-21    31
2017-12-22    31
2017-12-26    31
2017-12-27    31
2017-12-28    31
2017-12-29    31
Name: Name, Length: 3020, dtype: int64

In [88]:
df.set_index('Date', inplace=True)

#Backfill `Open` column
values = np.where(df['2017-07-31']['Open'].isnull(), df['2017-07-28']['Open'], df['2017-07-31']['Open'])
df['2017-07-31']= df['2017-07-31'].assign(Open=values.tolist())

values = np.where(df['2017-07-31']['Close'].isnull(), df['2017-07-28']['Close'], df['2017-07-31']['Close'])
df['2017-07-31']= df['2017-07-31'].assign(Close=values.tolist())

values = np.where(df['2017-07-31']['High'].isnull(), df['2017-07-28']['High'], df['2017-07-31']['High'])
df['2017-07-31']= df['2017-07-31'].assign(High=values.tolist())

values = np.where(df['2017-07-31']['Low'].isnull(), df['2017-07-28']['Low'], df['2017-07-31']['Low'])
df['2017-07-31']= df['2017-07-31'].assign(Low=values.tolist())

df.reset_index(inplace=True)
df[df.Date == '2017-07-31']

KeyError: '2017-07-31'

In [89]:
missing_data_stocks = ['CSCO','AMZN','INTC','AAPL','MSFT','MRK','GOOGL', 'AABA']
columns = df.columns.values

In [90]:
for stock in missing_data_stocks:
    tdf = df[(df.Name == stock) & (df.Date == '2014-03-28')].copy()
    tdf.Date = '2014-04-01'
    pd.concat([df, tdf])
print("Complete")

AttributeError: 'DataFrame' object has no attribute 'Date'

In [91]:
df[(df.Name == 'CSCO') & (df.Date == '2014-04-01')]

AttributeError: 'DataFrame' object has no attribute 'Date'

In [ ]:
df[df.Open.isnull()]

In [ ]:
df = df[~((df.Date == '2012-08-01') & (df.Name == 'DIS'))]

In [ ]:
df.isnull().sum()

In [ ]:
values = (df['High'] + df['Low'] + df['Open'] + df['Close'])/4
df = df.assign(Price=values)
df.head()

In [ ]:
df.Price.describe()

In [ ]:
stock_names = df.Name.unique()
day_prices = df[df.Date == df.Date.min()].Price
price_mapping = {n : c for n, c in zip(stock_names, day_prices)}
base_mapping = np.array(list(map(lambda x : price_mapping[x], df['Name'].values)))
df['Growth'] = df['Price'] / base_mapping - 1
df.Growth.describe()

In [ ]:
sample_dates = pd.date_range(start='2006-01-01', end='2018-01-01', freq='B')
year_end_dates = sample_dates[sample_dates.is_year_end]
year_end_dates
worst_stocks = df[df.Date == df.Date.max()].sort_values('Growth').head(5)
best_stocks = df[df.Date == df.Date.max()].sort_values('Growth', ascending=False).head(5)
ws = worst_stocks.Name.values
bs = best_stocks.Name.values
tdf = df.copy()
tdf = df.set_index('Date')
tdf[tdf.Name.isin(ws)].groupby('Name').Growth.plot(title='Historical trend of worst 5 stocks of 2017', legend=True)
worst_stocks

In [ ]:
best_stocks

In [ ]:
corr = df.pivot('Date', 'Name', 'Growth').corr()
sns.heatmap(corr)

In [ ]:
def unique_corelations(indices):
    mapping = {}
    for record in indices:
        (stock_a, stock_b) = record
        value_list = mapping.get(stock_a)
        if value_list:
            if stock_b not in value_list:
                value_list.append(stock_b)
                mapping.update({stock_a: value_list})
        else:
            mapping.update({stock_a: [stock_b]})

    return mapping

def filter_corelations_positive(corr, threshold=0.9):
    indices = np.where(corr > threshold)
    indices = [(corr.index[x], corr.columns[y]) for x, y in zip(*indices)
                                        if x != y and x < y]
    mapping = unique_corelations(indices)
    return mapping
    
def filter_corelations_negative(corr, threshold=-0.8):
    indices = np.where(corr < threshold)
    indices = [(corr.index[x], corr.columns[y]) for x, y in zip(*indices)
                                        if x != y and x < y]
    mapping = unique_corelations(indices)
    return mapping

In [ ]:
filter_corelations_positive(corr, threshold=0.95)

In [ ]:
filter_corelations_negative(corr, -0.1)

In [ ]:
google_df = df[df.Name == 'GOOGL']

In [ ]:
gdf = google_df[['Date', 'Price']].sort_values('Date')

In [ ]:
training_set = gdf[gdf.Date.dt.year != 2017].Price.values

In [ ]:
test_set =  gdf[gdf.Date.dt.year == 2017].Price.values

In [ ]:
print("Training set size: ",training_set.size)
print("Test set size: ", test_set.size)

In [ ]:
from sklearn.preprocessing import MinMaxScaler

In [ ]:
scaler = MinMaxScaler()

In [ ]:
training_set_scaled = scaler.fit_transform(training_set.reshape(-1, 1))

In [ ]:
def create_train_data(training_set_scaled):
    X_train, y_train = [], []
    for i in range(30, training_set_scaled.size):
        X_train.append(training_set_scaled[i-30: i])
        y_train.append(training_set_scaled[i])
    # Converting list to numpy arrays
    X_train = np.array(X_train)
    y_train = np.array(y_train)
    return X_train, y_train

In [ ]:
X_train, y_train = create_train_data(training_set_scaled)

In [ ]:
def create_test_data():
    X_test = []
    inputs = gdf[len(gdf) - len(test_set) - 30:].Price.values
    inputs = scaler.transform(inputs.reshape(-1, 1))
    for i in range(30, test_set.size+30): # Range of the number of values in the training dataset
        X_test.append(inputs[i - 30: i, 0])
    X_test = np.array(X_test)
    X_test = np.reshape(X_test, (X_test.shape[0], X_test.shape[1], 1))
    return X_test

In [ ]:
X_test = create_test_data()

In [ ]:
X_test.shape

In [ ]:
from keras.models import Sequential
from keras.layers import Dense, LSTM

In [ ]:
def create_simple_model():
    model = Sequential()
    model.add(LSTM(units = 10, return_sequences = False, input_shape = (X_train.shape[1], 1)))
    model.add(Dense(units = 1))
    return model

In [ ]:
def compile_and_run(model, epochs=50, batch_size=64):
    model.compile(metrics=['accuracy'], optimizer='adam', loss='mean_squared_error')
    history = model.fit(X_train, y_train, epochs=epochs, batch_size=batch_size, verbose=3)
    return history

In [ ]:
def plot_metrics(history):
    metrics_df = pd.DataFrame(data={"loss": history.history['loss']})
    metrics_df.plot()

In [ ]:
simple_model = create_simple_model()
history = compile_and_run(simple_model, epochs=20)

In [ ]:
plot_metrics(history)

In [ ]:
def make_predictions(X_test, model):
    y_pred = model.predict(X_test)
    final_predictions = scaler.inverse_transform(y_pred)
    fp = np.ndarray.flatten(final_predictions)
    ap = np.ndarray.flatten(test_set)
    pdf = pd.DataFrame(data={'Actual': ap, 'Predicted': fp})
    ax = pdf.plot()

In [ ]:
make_predictions(X_test, simple_model)

In [ ]:
def create_dl_model():
    model = Sequential()

    # Adding the first LSTM layer
    model.add(LSTM(units = 50, return_sequences = True, input_shape = (X_train.shape[1], 1)))

    # Adding a second LSTM layer
    model.add(LSTM(units = 50, return_sequences = True))
    
    # Adding a third LSTM layer
    model.add(LSTM(units = 50, return_sequences = True))

    # Adding a fourth LSTM layer
    model.add(LSTM(units = 50))

    # Adding the output layer
    model.add(Dense(units = 1))
    return model

In [ ]:
dl_model = create_dl_model()

In [ ]:
dl_model.summary()

In [ ]:
history = compile_and_run(dl_model, epochs=20)

In [ ]:
plot_metrics(history)

In [ ]:
make_predictions(X_test, dl_model)